:root {
  /* FONT-SIZE */
  --fs-sm: 14px;
  --fs-md: 13px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 19px;
  --fs-3xl: 17px;
  --fs-4xl: 32px;
  --fs-5xl: 34px;
  --fs-6xl: 44px;
  /* COLOR */
  --grey: #636363;
  --grey2: #F3F3F4;
  --white: #FFFFFF;
  --orange: #FA6A00;
  --orange2: #FA6A0099;
  --black: #101A2E;
  --border: #FB842CB2;
  --border-shadow: #FA6A00CC;
}

@font-face {
  font-family: "Acumin pro bold";
  src: url(../src/assets/Font-family/Acumin-BdPro.otf);
}

@font-face {
  font-family: "Acumin pro reg";
  src: url(../src/assets/Font-family/FontsFree-Net-Acumin-Pro-Book.ttf);
}

@font-face {
  font-family: "TitlingGothic cond";
  src: url(../src/assets/Font-family/TitlingGothicFB_Cond_Bold.otf);
}

.ff-acuminbold {
  font-family: "Acumin pro bold";
}

.ff-acuminreg {
  font-family: "Acumin pro reg";
}

.ff-TitlingGothic {
  font-family: "TitlingGothic cond";
}

.grey {
  color: var(--grey);
}

.grey2 {
  color: var(--grey2);
}

.white {
  color: var(--white);
}

.orange {
  color: var(--orange);
}

.orange2 {
  color: var(--orange2);
}

.color-black {
  color: var(--black);
}

.border {
  color: var(--border);
}

.border-shadow {
  color: var(--border-shadow);
}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-18 {
  font-size: var(--fs-lg);
}

.text-20 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl);
}

.text-28 {
  font-size: var(--fs-3xl);
}

.text-32 {
  font-size: var(--fs-4xl);
}

.text-48 {
  font-size: var(--fs-5xl);
}

.text-96 {
  font-size: var(--fs-6xl);
}

/* LINE-HEIGHT */

.lh-14 {
  line-height: 14px;
}

.lh-19 {
  line-height: 19px;
}

.lh-21 {
  line-height: 21px;
}

.lh-22 {
  line-height: 22px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 18px;
}

.lh-27 {
  line-height: 27px;
}

.lh-30 {
  line-height: 30px;
}

.lh-36 {
  line-height: 26px;
}

.lh-39 {
  line-height: 14px;
}

.lh-44 {
  line-height: 44px;
}

.lh-57 {
  line-height: 39px;
}

.lh-115 {
  line-height: 47px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* OPACITY */

.op-70 {
  opacity: 70%;
}


@media (min-width:576px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 64px;

  }


  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 60px;
  }

}

@media (min-width:768px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 14px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 71px;

  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 76px;
  }

}

@media (min-width:992px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 13px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;

  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 115px;
  }

}

@media (min-width:1024px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 13px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;

  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 115px;
  }

}

@media (min-width:1200px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;

  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 115px;
  }

}

@media (min-width:1400px) {
  :root {
    /* FONT-SIZE */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;

  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-19 {
    line-height: 19px;
  }

  .lh-21 {
    line-height: 21px;
  }

  .lh-22 {
    line-height: 22px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-25 {
    line-height: 25px;
  }

  .lh-27 {
    line-height: 27px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 26px;
  }

  .lh-39 {
    line-height: 14px;
  }

  .lh-44 {
    line-height: 44px;
  }

  .lh-57 {
    line-height: 57px;
  }

  .lh-115 {
    line-height: 115px;
  }

}